.breadcrumb1 li span {
  left: 0em;
  padding-right: 1em;
  color: #3399cc;
}
.breadcrumbs {
  padding: 1.5em 0;
  background: #f5f5f5;
}
.breadcrumb {
  margin-bottom: 0 !important;
  padding: 0 !important;
}
.breadcrumb1 li {
  font-size: 1em;
  color: #999;
}
.breadcrumb1 li a {
  color: #3399cc;
  text-decoration: none;
}
