.login h2 {
  text-align: center;
  color: #212121;
  padding-bottom: 0.5em;
  position: relative;
  font-size: 2.5em;
  text-transform: uppercase;
}

.login h2:after {
  content: '';
  background: #3399cc;
  height: 2px;
  width: 15%;
  position: absolute;
  bottom: 0%;
  left: 43%;
}

.login h4 {
  margin: 2em 0 0.5em;
  font-size: 1.5em;
  color: #212121;
  text-align: center;
  text-transform: uppercase;
}
.login p {
  font-size: 14px;
  color: #999;
  line-height: 1.8em;
  margin: 0;
  text-align: center;
}
.login p a {
  color: #fe9126;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 0.5em;
}
.login p a:hover {
  color: #212121;
}
.login p a span {
  top: 0.1em;
  font-size: 0.7em;
  left: 0.3em;
}
.login {
  padding: 5em 0;
}

.login-form-grids {
  width: 45%;
  padding: 3em;
  background: #f7f7f9;
  margin: 3em auto 0;
}

.login-form-grids input[type='email'],
.login-form-grids input[type='password'],
.login-form-grids input[type='text'] {
  outline: none;
  border: 1px solid #dbdbdb;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  color: #999;
  display: block;
  width: 100%;
}

.login-form-grids input[type='password'] {
  margin: 1em 0 0;
}
.forgot {
  margin: 1.5em 0 0;
}
.login-form-grids input[type='submit'] {
  outline: none;
  border: none;
  padding: 10px 0;
  font-size: 1em;
  color: #fff;
  display: block;
  width: 100%;
  background: #3399cc;
  margin: 1.5em 0 0;
}
.login-form-grids input[type='submit']:hover {
  background: #fe9126;
}
.login-form-grids ::-webkit-input-placeholder {
  color: #999;
}

.login-form-grids h5,
.login-form-grids h6 {
  font-size: 1em;
  color: #212121;
  text-transform: uppercase;
  margin: 0 0 2em;
}
/* 
.login-form-grids input[type='text'] {
  background: url(../images/img-sp.png) no-repeat 5px -259px #fff;
}
.login-form-grids input[type='text']:nth-child(2) {
  background: url(../images/img-sp.png) no-repeat 0px -298px #fff;
  margin: 1em 0;
} */
.login-form-grids h6 {
  margin: 3em 0 2em !important;
}
.login-form-grids input[type='password']:nth-child(3) {
  margin: 1em 0;
}

.forgot {
  margin: 1.5em 0 0;
}

.forgot a {
  color: #212121;
  font-size: 14px;
  text-decoration: none;
}
.forgot a:hover {
  color: #d8703f;
}
@media (max-width: 320px) {
  .login h4 {
    font-size: 1.4em;
  }
  .login {
    padding: 2em 0;
  }
  .login p a {
    font-size: 1em;
  }
  .login-form-grids {
    margin: 2em auto 0;
  }
  .login-form-grids {
    padding: 1.2em;
  }
}

@media (max-width: 375px) {
  .login-form-grids {
    width: 100%;
  }
}

@media (max-width: 384px) {
  .login-form-grids {
    width: 95%;
  }
}

@media (max-width) {
  .login-form-grids {
    padding: 2em;
  }
}

@media (max-width: 420px) {
  .login-form-grids {
    width: 76%;
  }
}

@media (max-width: 480px) {
  .login h2 {
    font-size: 1.7em;
  }

  .login-form-grids {
    width: 90%;
  }
}

@media (max-width: 667px) {
  .agile-login {
    width: 37%;
  }

  .login-form-grids {
    width: 71%;
  }
}

@media (max-width: 768px) {
  .login {
    padding: 3em 0;
  }
}

@media (max-width: 991px) {
  .login h4 {
    font-size: 1.3em;
  }

  .login-form-grids {
    width: 65%;
  }
}
