.brands-w3l {
  text-align: center;
}
.brands-w3l p a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: #39c;
  background: #fff;
  padding: 16px;
  display: block;
  border: 1px solid #e1e1e1;
}
.brands-w3l p a:hover {
  box-shadow: 0 0 6px 1px #b6b6b6;
}
/* 
.w3layouts-brand {
  float: left;
  width: 50%;
  margin-bottom: 3%;
} */
