p.w3l-ad {
  font-size: 14px;
  color: #777;
  width: 42%;
  line-height: 28px;
  font-family: 'Raleway', sans-serif;
}
.agile-tp-head {
  color: #000;
  margin-bottom: 16px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
