.top-brands {
  padding: 5em 0;
  background: #f5f5f5;
}

.agile_top_brands_grids {
  margin-top: 40px;
}

.tab-content {
  padding: 40px 40px;
  color: black;
}

.grid_3.grid_5 {
  margin-top: 5em;
  border: 1px solid #bebebe;
}

.nav-tabs > li {
  width: 50%;
}
.nav-tabs > li > a {
  margin: 0 0px;
  padding: 10px 53px;
  line-height: 1.42857143;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  border: 0px solid transparent;
  border-radius: 0px 0px 0 0;
  color: #016773;
}
.nav-tabs > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background: #fe9126;
  color: #fff;
  border: 0px solid transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background: #fe9126;
  border: 0px solid transparent;
}
.nav-tabs {
  border-bottom: 1px solid #fff;
}

@media (max-width: 320px) {
  .nav-tabs > li > a {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .nav-tabs > li > a {
    font-size: 14px;
  }
}
