.cart {
  color: white;
  font-size: 17px;
  margin-top: 10px;
}

.search {
  color: white;
  font-size: 17px;
}

.phone {
  /* margin-left: -25px; */
  margin-right: 10px;
  font-size: 17px;
}

.w3_footer_grid ul.address li .address {
  color: #fe9126;
  width: 30px;
  height: 30px;
  border: 1px solid #fe9126;
  padding: 8px;
  margin-right: 10px;
}
.arrow-right {
  color: #fe9126;
  margin-right: 10px;
  font-weight: 700;
}
.starBlue {
  color: #3399cc;
}

.starGray {
  color: #808080;
}
